body {
    font-family: Calibri, serif;
    margin: 40px;
    padding: 20px;
    background-color: white;
    color: grey;
}

h2 {
    color: black;
    border-bottom: 2px solid #c48080;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    line-height: 1.6;
    max-width: 600px;
}

img {
    float: right;
    margin-left: 20px;
    border-radius: 10px;
}