<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/templates/attractionsList.html/style.css}">
    <title>Turist Attraktioner</title>
</head>
<body>
<h1 align="center">Turistattraktioner</h1>
<form action="#" method="post" th:action="@{/attractionsList}" th:object="${touristAttraction}">
    <input type="hidden" th:field="*{name}" />
<table border="1">
    <thead>
    <tr>
      <th>Navn</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>

    <tr th:each ="attraction : ${attractionsList} ">
      <td th:text ="${attraction.getName}" ></td>
      <td th:text="${attraction.getDescription}" ></td>
        <td><a class="opdater" th:href="@{/attractions/edit/{name}(name=${attraction.getName()})}">Opdater</a> </td>
        <td><a class="slet" th:href="@{/attractions/delete/{name}(name=${attraction.getName()})}">Slet</a> </td>
        <td><a class="tags" th:href="@{/attractions/tags/{name}(name=${attraction.getName()})}">Tags</a> </td>
    </tr>
  </tbody>
</table>
    <br>

</form>
</body>
</html>