<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attractions user suggestion</title>
</head>
<body>
<header>
    <h1 align="center">Tourist attractions in copenhagen</h1>
</header>
<br>
<form action="" method="post" >
    <fieldset align="center">
        <legend>Fil out the form:</legend>
        <p>
            <label for="name">Full name:</label>
            <input type="text" id="name"/>
        </p>
        <p>
            <label for="email"> Email:</label>
            <input type="email" id="email">
        </p>
        <p>
            <label for="attraction">Name of attraction:</label>
            <input type="text" id="attraction">
        </p>
        <p>
            <label for="description">Description of attraction:</label>
            <input type="text" id="description">
        </p>
    </fieldset>
    <a th:href="@{/submit}">
        <p align="center">klik her</p>
    </a>

</form>

</body>
</html>