<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/attractionList.html/style.css}">
    <title>Turist Attraktioner</title>
</head>
<body>
<h1 align="center">Turistattraktioner</h1>
<form role="form" method="post" th:action="@{/attractions/{name}/tags}" th:object="${touristAttraction}">
<table border="1">
    <thead>
    <tr>
      <th>Navn</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>

    <tr th:each ="attraction : ${attractionsList} ">
      <td th:text ="${attraction.getName}" ></td>
      <td th:text="${attraction.getDescription}" ></td>
        <td><button type="submit" th:href="@{'/attractions/' + ${attraction.getName} + '/tags'}">tags</button></td>
    </tr>
  </tbody>
</table>
    <br>

</form>
</body>
</html>