<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css?v=0.01}" href="/css/main.css">
    <title>Tourist Attractions</title>
</head>
<body>
<header>
    <h1>Tourist Attractions in Copenhagen</h1>
    <div class="headline-image">
        <img class="img" src="/images/TouristGuideAPIBanner.png" alt="Tivoli, DR Byen, Den Lille Havfrue & Nyhavn">
        <div class="headline-overlay">
            <h2>Where Dreams Become Reality!</h2>
        </div>
    </div>
</header>

<div class="dropdown">
    <button class="dropbtn">Sider</button>
<div class="dropdown-content">
    <a th:href="@{/add}">User tourist attraction suggestions</a>
    <a th:href="@{/attractionsList}">Attractions list</a>
    <a href="http://localhost:8080/attractions/tivoli">Tivoli</a>
    <a href="http://localhost:8080/attractions/drbyen">DRByen</a>
    <a href="http://localhost:8080/attractions/denlillehavfrue">Denlillehavfrue</a>
    <a href="http://localhost:8080/attractions/nyhavn">Nyhavn</a>
</div>
</div>
<article>
    <div th:each=" items : ${attractions}" class="row">
        <p th:text="${items.name}" class="row"></p>
        <p th:text=" ${items.description}" class="row"></p>
    </div>
</article>

<nav>
    <strong>Remember to pack the following stuff, while visiting Denmark:</strong>
    <ul>
        <li>Raincoat, as it can rain a lot</li>
        <li>Cash, some places don't take creditcard</li>
        <li>Comfortable shoewear, as you can walk a lot</li>
        <li>A nice smile, as the Danes like to smile back</li>
    </ul>
</nav>

<footer>
    <nav>
        <br><br/>
        <Strong>Contact information: </Strong>
        <p>Hannibal Ussing-Widholm: Hannibal@ussing.com</p>
        <p>Jonas Nilket: Nilket@gmail.com</p>
        <p>Joakim Rosdal: Rosdal@gmail.com</p>
    </nav>
</footer>

</body>
</html>