<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist attraction suggestion</title>
</head>
<body>
<header align="center">
    <h1>These are the submitted attractions from our users:</h1>
</header>
<br>
    <article> Info:
        <div th:each = "attr : ${attractions}">
            <p>Attraction:</p>
            <p th:text ="${attr.getName()}"></p>
            <p th:text ="${attr.getDescription()}"></p>
            <p th:text ="${attr.getBy()}"></p>
            <p th:text ="${attr.getTags()}"></p>

        </div>
    </article>



</body>
</html>